::selection {
        background-color: #F8E277;
}

body {
        font-family: sans-serif;
}

.maintitle {
        text-align: center;
}

.mainimage {
        width: 50%;
        height: auto;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
}